@font-face {
  font-family: "PlayfairDisplay";
  src: url(../../assets/fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../../assets/fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../../assets/fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../../assets/fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../../assets/fonts/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
